html, body {
font-family: 'Heebo', sans-serif; 
background color: #fefefe;
overflow: scroll;
padding:0px;
margin: 0px;
white-space: normal;
}

#footer-fix {
	height: 100%;
}

#main-pic img {
	position: relative;
	width: 100%;
}

.main-text {
	position: absolute;
	top: 40%
	left: 50%;
	color: #fefefe;
}

#nav-bar {
	position: absolute;
	text-align: right;
	width: 100%;
	z-index: 50;
	height: 50px;
	background-color: #C2EFEB;
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-bar a {
	color: #0B1D51;
	text-decoration: none;
	margin-right: 40px;

 }

 #nav-bar b {
 	color: #0B1D51;
 	text-align: left;
 	margin-right: 60%;
 }

#nav-bar a:hover {
 	color: #413378;
 	font-style: italic;
 }

#who-am-i {
	position: relative;
	grid-area: who-am-i;
	width: 100%;
	height: 400px;
	background-color: #ECFEE8;
	margin-top: -20px;
}

.who-title {
	padding-top: 10px;
	padding-left: 25px;
	font-size: 18pt;

}
.profile {
	display: flex;
}

#about-me img {
 	margin: 30px;
 }

 #skills {
 	background-color: #fefefe;
 	width: 100%;
 	height: 200px;
 	position:relative;
 }

#skills img {
	width: 100px;
	height: 100px;
	margin: 50px;

}

.expertise {
	font-size: 18pt;
	color: #0B1D51;
	margin-left: 50px;
}

.adobe {
	display: flex;
 	flex-direction: row;
 	justify-content: center;
 	align-items: center;
 	margin-top: -20px;
}

#languages {
	width: 100%;
	background-color: #6EA4BF;
	height: 200px;
	position:relative;
}

.language-title {
	padding-top: 10px;
	display: flex;
	font-size: 18pt;
	color: #0B1D51;
	margin-left: 50px;
	width: 50%;
	justify-content: left;
	margin-top: 50px;
}

.language-info {
	display: flex;
	justify-content: left;
	flex-direction: column;
	width: 50%;
	font-size: 16pt;
	color: #ECFEE8;
	margin-top: 10px;
	margin-left: 50px;
	line-height: 0px;
}

.social-media {
	display: flex;
	flex-direction: row;
	font-size: 16pt;
	color: #ECFEE8;
	width: 50%;
	margin-left: 50%;
	margin-top: -190px;
}

.social-media img {
	width: 100px;
	height: 100px;
	padding: 30px;
}

#white-space {
	background-color: #fefefe;
	width: 100%;
	height: 100px;
}

.cal {
 	height: 74%;
 	margin-left: 10px;
 	margin-top: -5px;
 }

 .linkedin {
 	margin-left: 20px;
 	margin-top: -5px;
 }

 #about-me {
 	width: 100%;
 	background-color: #C2EFEB;
 	height: 600px;
 }

 .row-1 {
 	display:flex;
 	justify-content: center;
 	align-items: center;
 	position: relative;
 }

 .row-2 {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: row;
 	margin-top: -20px;
 }
/**nav-bar**/

#nav-bar1 {
	position: absolute;
	text-align: right;
	width: 100%;
	z-index: 50;
	height: 50px;
	background-color: #C2EFEB;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
}

#nav-bar1 a {
	text-decoration: none;
	color: #0B1D51;
	margin-right: 50px;
}

#nav-bar1 a:hover {
	color: #41337A;
	font-style: italic;
}

#nav-bar1 b {
	color: #0B1D51;
	margin-right: 65%;
}

/**end-nav-bar-start photography**/

#container {
	width: 100%;
	position: relative;
}

.camera-icon {
	position: relative;
	width: 50%;
	left: 40%;
}

.camera-icon img {
	position: relative;
	width: 100px;
	margin-top: 100px;
}

.whatiuse {
	position: relative;
	width: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	margin-top: -100px;
}

.container-photos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container-photos img {
	height: 300px;
	margin: 10px;
}

.container-photos2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container-photos2 img{
	height: 300px;
	margin: 19px;
}

.white-box {
	height: 200px;
	background-color: #fefefe;
	width: 100%;
}
/**start of code for design page**/

#design {
	height: 100%;
	overflow: hidden;
	display: grid;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.design-what-i-use {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
}

.design-samples {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.design-samples img {
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#design-blurb {
	width: 100%;
	line-height: 25px;
	color: #41337A;
	font-size: 16pt;
	margin-top: 100px;
}

.white-box-design {
	width: 100%;
	height: 200px;
	background-color: #fefefe;
}
/*FOOTER keep at bottom*/
#footer {
	position: absolute;
	width: 100%;
	background-color: #0B1D51;
	height: 100px;
	z-index: 5;
	color: #ECFEE8;
	bottom: 0;
	overflow: hidden;
}

.name {
	position: absolute;
	margin-top: 20px;
	margin-left: 15px;
}

.name-info {
	position: absolute;
	margin-top: 50px;
	margin-left: 15px;
	line-height: 5px;
}

.contact {
	position: absolute;
	line-height: 5px;
	margin-top: 30px;
	margin-left: 75%;
}

.qrcode {
	position: absolute;
	margin-top: -10px;
	margin-left: 90%;
}